apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
spec:
  containers:
  - name: kube-scheduler
    command:
    - kube-scheduler
    - --authentication-kubeconfig=/etc/kubernetes/scheduler.conf
    - --authorization-kubeconfig=/etc/kubernetes/scheduler.conf
    - --bind-address={{ hostvars[inventory_hostname][ansible_private_nic]['ipv4']['address'] }}
    - --kubeconfig=/etc/kubernetes/scheduler.conf
    - --leader-elect=true
    - --port=0
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: {{ hostvars[inventory_hostname][ansible_private_nic]['ipv4']['address'] }}
        path: /healthz
        port: 10259
        scheme: HTTPS
      initialDelaySeconds: 15
      timeoutSeconds: 15
    startupProbe:
      failureThreshold: 48
      httpGet:
        host: {{ hostvars[inventory_hostname][ansible_private_nic]['ipv4']['address'] }}
        path: /healthz
        port: 10259
        scheme: HTTPS
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
