apiVersion: v1
kind: Pod
metadata:
  name: haproxy
  namespace: kube-system
  labels:
    k8s-app: kube-haproxy
  annotations:
    haproxy-cfg-checksum: "{{ haproxy_stat.stat.checksum }}"
    scheduler.alpha.kubernetes.io/critical-pod: ""
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  priorityClassName: system-node-critical
  containers:
  - name: haproxy
    image: {{ haproxy_image_repo }}:{{ haproxy_image_tag }}
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: {{ haproxy_request_cpu }}
        memory: {{ haproxy_request_memory }}
    securityContext:
      privileged: true
    livenessProbe:
      httpGet:
        path: /healthz
        port: {{ haproxy_healthcheck_port }}
        host: 127.0.0.1
    readinessProbe:
      httpGet:
        path: /healthz
        port: {{ haproxy_healthcheck_port }}
        host: 127.0.0.1
    volumeMounts:
    - mountPath: /usr/local/etc/haproxy/
      name: etc-haproxy
      readOnly: true
  volumes:
  - name: etc-haproxy
    hostPath:
      path: {{ haproxy_config_dir }}
