[Unit]
Description=mount s3ql {{ item.name }} filesystem
Wants=network-online.target
After=network-online.target
Conflicts=shutdown.target

[Service]
ExecStart=/usr/bin/mount.s3ql --fg --systemd --cachedir=/var/cache/s3ql/{{ item.name }}/ --authfile=/etc/s3ql-{{ item.name }}.authinfo --allow-other s3c://{{ item.s3_url }}/{{ item.s3_bucket }} {{ item.mountpoint }}
ExecStop=/usr/bin/umount.s3ql {{ item.mountpoint }}
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
